<hr class="h-px bg-gray-200 border-0">
<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <div class = "flex gap-4">
      <%= render 'shared/avatar', letter: evaluation.user.name[0].upcase, id: evaluation.user_id%>
      <div>
        <p>
          <span class="font-semibold">
            <%=evaluation.user.name.capitalize%>
          </span>
          evaluated <%= evaluation.created_at.strftime("%A, %B %d, %Y")%>
        </p>
        <p class = "text-gray-500">Score: <%=evaluation.points%> points</p>
      </div>
    </div>
    <div class="flex gap-4">
      <%if current_user == evaluation.user%>
        <%= link_to edit_presentation_evaluation_path(evaluation.presentation, evaluation),
                  method: :delete, data: {confirm: "Are you sure ?" } do %>
          <i class="fa fa-pencil fa-lg"></i>
        <%end%>
      <%end%>
      <%if current_user.admin? || current_user == evaluation.user%>
        <%= button_to [evaluation.presentation, evaluation],
            method: :delete, data: {confirm: "Are you sure ?" } do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <%end%>
      <%end%>
    </div>
  </div>
  <p class = "text-gray-500"><%=evaluation.feedback%></p>
</div>
