<% my_presentations, other_presentations = presentations.partition { |presentation| presentation.user == current_user } %>
<% my_presentations.each do |presentation| %>
  <%= link_to presentation do %>
    <div class="flex justify-between bg-white shadow-md hover:bg-[#eff1f1] p-6 rounded-md">
      <div class="flex flex-col gap-4">
        <div class = "flex gap-4 items-center">
          <%= render 'shared/avatar', letter: presentation.user.name[0].upcase, id: presentation.user_id%>
          <div>
            <h1 class = "font-semibold text-xl"><%=presentation.title.capitalize%></h1>
            <p class="text-gray-500">
              <span class="font-semibold">
                <%=presentation.user.name.capitalize%>
              </span>
              presents on <%= presentation.date.strftime("%A, %B %d, %Y")%>
            </p>
          </div>
        </div>
        <p class = "text-gray-500"><%=presentation.description%></p>
      </div>
    </div>
  <% end %>
<% end %>
<% other_presentations.each do |presentation| %>
  <%= link_to presentation do %>
    <div class="flex justify-between bg-white shadow-md hover:bg-[#eff1f1] p-6 rounded-md">
      <div class="flex flex-col gap-4">
        <div class = "flex gap-4 items-center">
          <%= render 'shared/avatar', letter: presentation.user.name[0].upcase, id: presentation.user_id%>
          <div>
            <h1 class = "font-semibold text-xl"><%=presentation.title%></h1>
            <div class="text-gray-500 flex">
              <p>
                <span class="font-semibold">
                  <%=presentation.user.name.capitalize%>
                </span>
                created on <%= presentation.date.strftime("%A, %B %d, %Y")%>
              </p>
            </div>
          </div>
        </div>
        <p class = "text-gray-500"><%=presentation.description%></p>
      </div>
    </div>
  <% end %>
<% end %>
